# Java
backend/target/
backend/.mvn/
backend/mvnw
backend/mvnw.cmd

# Node
frontend/node_modules/
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# IDE
.idea/
.vscode/
*.iml
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
.dockerignore

# Logs
*.log

# Monitoring data
prometheus-data/
grafana-data/
mysql-data/
